<article id="disclaimer" class="header">
  <h1 class="fw6 f3 f2-ns lh-title mt0 mb3">
    Titanic Passenger Data
  </h1>
  <p >
    *This data represents 1,310 passengers of the 3,335 total passengers and crew onboard.
  </p>
</article>

<div class="graph">
  <h3 class="f6 link dim br1 ba ph3 pv2 mb2 dib black" id="count-age" (click)="selectGraph('countAge')">count-age</h3>
  <h3 class="f6 link dim br1 ba ph3 pv2 mb2 dib black" id="fare-age" (click)="selectGraph('fareAge')">fare-age</h3>
  <h3 class="f6 link dim br1 ba ph3 pv2 mb2 dib black" id="gender" (click)="selectGraph('gender')">Cluster</h3>
  <h3 [hidden]="selectedGraph != 'fareAge'" id="kill-fare-age" >Show Survivors</h3>
  <h3 [hidden]="selectedGraph != 'gender'" id="kill-gender" >Show Survivors</h3>
</div>
